.form-task--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.form-task--list__column {
    flex: 1;
    min-width: 200px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.form-task--list__column h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-task--list__column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-task--list__column li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.form-task--list__column li:last-child {
    border-bottom: none;
  }


  @media (max-width: 768px) {
    .form-task--list {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .form-task--list__column {
      width: 100%;
      margin-bottom: 20px;
    }
  }